@import "bootstrap";

body {
  font-family: -apple-system, sans-serif;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: red;
  }
}

.hide {
  display: none;
}

.message-wr {
  height: 75vh;
  margin: auto;
  width: 80vw;
}

.messages {
  background-color: #fff;
  box-shadow: 0 0 0 5px #f4f2ed inset;
  box-sizing: border-box;
  height: 87%;
  overflow: scroll;
  padding: 20px;
}

.messages-table {
  display: table;
  width: 100%;
}

.message {
  line-height: 1.6;
  display: table-row;
}
.message:last-child {
  margin-bottom: 10px;
}
.message > div {
  display: table-cell;
  padding: 13px 10px 10px;
}

.message-user {
  color: #666;
  font-size: 13px;
  margin-right: 10px;
}

.message-content {
  width: 100%;
}

.message-input {
  background-color: rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  height: 13%;
  padding: 0 5px 5px;
}
.message-input form {
  height: 100%;
}
.message-input textarea {
  height: 100%;
  width: 100%;
}
.message-input input {
  float: right;
  height: 100%;
  vertical-align: top;
  width: 14.5%;
  display: none;
}

// DRAFT ROOM
// #202a2f

.draft-room {
  background: #263238;
  color: white;
  header {
    background: #202a2f;
  }
}
