<!DOCTYPE html>
<html>
  <head>
    <title>Draft Room</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="draft-room">
    <header>
      &larr; back to draft lobby
    </header>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
